body {
	padding: 0;
}

.container {
	text-align: center;
}

.linkBtn:link, .linkBtn:visited, .linkBtn:hover, .linkBtn:active {
	text-decoration: none;
	color: white;
}

#container-btn {
	margin-top: 25%;
}


@media (min-width: 992px) { 
	.container {
		width: 50%;
	}

}
