

body {
	padding: 0;
}

#divContainer, #divJumboHeader {
	text-align: center;
}

.linkBtn:link, .linkBtn:visited, .linkBtn:hover, .linkBtn:active {
	text-decoration: none;
	color: white;
}

/* CSS concernant index.php */
#container-btn {
	margin-top: 25%;
}


@media (min-width: 992px) { 
	.container {
		width: 50%;
	}


}


/* CSS concernant catalogue.php */
#divFormCatalog {
	padding: 10%;
	padding-right: 10%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: ffffff;
	
}

	
